html, body{
	background-color: #404040;
	background-image: url("../../microfone.jpg");
	background-size: 100%;
	color: white;
}

.panel.panel-opacity{
	background-color: rgba(0, 0, 0, 0.6);
	border: 0px;
}
.table-condensed>tbody>tr:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.table>tbody>tr>td {
	border-top: 1px solid #404040;
}

.panel-header-background{
	padding-left: 10px;
}

.voltarbtn{
	padding-bottom: 6px
}

.center-div{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.padding-top{
	padding-top: 15px;
}

.h3-padding{
	margin-top: 20px;
	margin-bottom: 10px;
}

#modal-colors{
	background-color: rgba(0,0,0,0.2);
}

.btn-primary{
	color:#fff;
	background-color: rgba(40,100,150,0.9);
	border-color: rgba(40,100,150,0.9)
}

.btn-primary:hover{
	color:#fff;
	background-color: rgba(40,100,140,0.6);
	border-color: rgba(40,100,140,0.6)
}

.btn-success{
	color:#fff;
	background-color: rgba(90,180,90,0.9);
	border-color: rgba(90,180,90,0.9)
}

.btn-success:hover{
	color:#fff;
	background-color: rgba(90,130,90,0.9);
	border-color: rgba(90,130,90,0.9)
}

.btn-danger{
	color:#fff;
	background-color: rgba(220,80,80,0.9);
	border-color: rgba(220,80,80,0.9)
}

.btn-danger:hover{
	color:#fff;
	background-color: rgba(180,80,80,0.9);
	border-color: rgba(180,80,80,0.9)
}

