

html, body{
	background-color: #404040;
	background-image: url("../../microfone.jpg");
	background-size: 100%;
}

.panel.panel-opacity{
	background-color: rgba(0, 0, 0, 0.6);
	border: 0px;
}

.center-row{
	padding-top:20%;
}
.voltarbtn{
	padding-bottom: 6px
}

#cadastroDiv{
	color:white;
	padding-top: 7%;
}

.panel-header-background{
	/*background-color: rgba(0, 0, 20, 0.6);*/
	color:white;
	text-align: center;
}

/*.error-message.alert.alert-danger{
	display: none;
} */

/*.error-message{
	display: none;
}*/